<div class="container">
    <div class="jumbotron text-center", id= 'home-container'>
        <h1 class="home1 display-4">Welcome to Rails Server!</h1>
        <p class="home2 lead">This is a simple server, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="home2 my-4">
        <p class= "home2">It uses utility classes for typography and spacing to space content out within the larger    container.</p>
        <p class= "row"></p>
        <p class= "row"></p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
